In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
count_zip = pd.read_csv('COVID_CountByZipPerDate 03292021.csv')
count_zip.head(5)

  Specimen Collection Date      Zip  Cases
0                 3/6/2020  37217.0      1
1                3/10/2020  37214.0      1
2                3/11/2020  37013.0      1
3                3/11/2020  37204.0      2
4                3/11/2020  37205.0      1

In [4]:
count_zip.tail(5)

     Specimen Collection Date      Zip  Cases
8827                3/27/2021  37210.0      1
8828                3/27/2021  37211.0      1
8829                3/27/2021  37212.0      1
8830                3/27/2021  37214.0      2
8831                3/27/2021  37221.0      2

In [11]:
count_zip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8832 entries, 0 to 8831
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Specimen Collection Date  8832 non-null   object
 1   Zip                       8456 non-null   float64
 2   Cases                     8832 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 207.1+ KB

In [31]:
count_zip.groupby('Specimen Collection Date').sum().drop(['Zip'], axis=1).reset_index().sort_values(by=['Cases'], ascending=False)

    Specimen Collection Date  Cases
25                  1/4/2021   1324
112               12/28/2020   1273
113               12/29/2020   1090
120                12/7/2020   1080
105               12/21/2020   1006
..                       ...    ...
226                 4/5/2020     13
154                3/11/2020     11
156                3/12/2020      8
152                3/10/2020      1
196                 3/6/2020      1

[384 rows x 2 columns]

In [5]:
vaccine_protocol = pd.read_csv('vaccine_with_protocol.csv')
vaccine_protocol.head(5)

    vacc_date  zipcode  count_given  dose_nbr  protocol
0  2020-12-12  37215.0          1.0       1.0  two-shot
1  2020-12-14  37205.0          1.0       2.0  two-shot
2  2020-12-14  37215.0          1.0       1.0  two-shot
3  2020-12-15  37221.0          1.0       1.0  two-shot
4  2020-12-16  37215.0          1.0       1.0  two-shot

In [7]:
vaccine_protocol.tail(5)

       vacc_date  zipcode  count_given  dose_nbr  protocol
6689  2021-04-07  37228.0          9.0       1.0  two-shot
6690  2021-04-07  37228.0          2.0       2.0  two-shot
6691  2021-04-07      NaN          8.0       1.0  two-shot
6692  2021-04-07      NaN          1.0       1.0  one-shot
6693  2021-04-07      NaN          7.0       2.0  two-shot

In [15]:
vaccine_protocol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6694 entries, 0 to 6693
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   vacc_date    6694 non-null   object
 1   zipcode      6462 non-null   float64
 2   count_given  6686 non-null   float64
 3   dose_nbr     6686 non-null   float64
 4   protocol     6694 non-null   object
dtypes: float64(3), object(2)
memory usage: 261.6+ KB

In [20]:
vaccine_protocol.rename(columns={'zipcode':"Zip"}, inplace=True)
vaccine_protocol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6694 entries, 0 to 6693
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   vacc_date    6694 non-null   object
 1   Zip          6462 non-null   float64
 2   count_given  6686 non-null   float64
 3   dose_nbr     6686 non-null   float64
 4   protocol     6694 non-null   object
dtypes: float64(3), object(2)
memory usage: 261.6+ KB

In [21]:
#the_covid = count_zip.merge(vaccine_protocol, on=["Zip"], how='outer')
#the_covid

,Specimen Collection Date,Zip,Cases,vacc_date,count_given,dose_nbr,protocol
0,3/6/2020,37217.0,1,2020-12-17,5.0,1.0,two-shot
1,3/6/2020,37217.0,1,2020-12-18,8.0,1.0,two-shot
2,3/6/2020,37217.0,1,2020-12-19,18.0,1.0,two-shot
3,3/6/2020,37217.0,1,2020-12-20,4.0,1.0,two-shot
4,3/6/2020,37217.0,1,2020-12-21,8.0,1.0,two-shot
...,...,...,...,...,...,...,...
2033256,1/10/2021,37069.0,1,2021-03-29,1.0,1.0,two-shot
2033257,1/10/2021,37069.0,1,2021-03-30,1.0,2.0,two-shot
2033258,1/10/2021,37069.0,1,2021-03-31,1.0,1.0,two-shot
2033259,1/10/2021,37069.0,1,2021-03-31,2.0,2.0,two-shot
2033260,1/10/2021,37069.0,1,2021-04-05,2.0,2.0,two-shot

In [22]:
#the_covid.head(20)

,Specimen Collection Date,Zip,Cases,vacc_date,count_given,dose_nbr,protocol
0,3/6/2020,37217.0,1,2020-12-17,5.0,1.0,two-shot
1,3/6/2020,37217.0,1,2020-12-18,8.0,1.0,two-shot
2,3/6/2020,37217.0,1,2020-12-19,18.0,1.0,two-shot
3,3/6/2020,37217.0,1,2020-12-20,4.0,1.0,two-shot
4,3/6/2020,37217.0,1,2020-12-21,8.0,1.0,two-shot
5,3/6/2020,37217.0,1,2020-12-22,22.0,1.0,two-shot
6,3/6/2020,37217.0,1,2020-12-23,27.0,1.0,two-shot
7,3/6/2020,37217.0,1,2020-12-24,7.0,1.0,two-shot
8,3/6/2020,37217.0,1,2020-12-25,7.0,1.0,two-shot
9,3/6/2020,37217.0,1,2020-12-26,12.0,1.0,two-shot
10,3/6/2020,37217.0,1,2020-12-27,5.0,1.0,two-shot
11,3/6/2020,37217.0,1,2020-12-28,35.0,1.0,two-shot
12,3/6/2020,37217.0,1,2020-12-29,52.0,1.0,two-shot
13,3/6/2020,37217.0,1,2020-12-30,70.0,1.0,two-shot
14,3/6/2020,37217.0,1,2020-12-31,17.0,1.0,two-shot
15,3/6/2020,37217.0,1,2021-01-01,5.0,1.0,two-shot
16,3/6/2020,37217.0,1,2021-01-02,21.0,1.0,two-shot
17,3/6/2020,37217.0,1,2021-01-03,2.0,1.0,two-shot
18,3/6/2020,37217.0,1,2021-01-04,18.0,1.0,two-shot
19,3/6/2020,37217.0,1,2021-01-05,19.0,1.0,two-shot