In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline

In [ ]:
zip = pd.read_csv('COVID_CountByZipPerDate 03292021.csv')

In [14]:
zip.head()

  Specimen Collection Date      Zip  Cases
0                 3/6/2020  37217.0      1
1                3/10/2020  37214.0      1
2                3/11/2020  37013.0      1
3                3/11/2020  37204.0      2
4                3/11/2020  37205.0      1

In [18]:
zip.shape

(8832, 3)

In [11]:
vax = pd.read_csv('vaccine_with_protocol.csv')

In [12]:
vax.head()

    vacc_date  zipcode  count_given  dose_nbr  protocol
0  2020-12-12  37215.0          1.0       1.0  two-shot
1  2020-12-14  37205.0          1.0       2.0  two-shot
2  2020-12-14  37215.0          1.0       1.0  two-shot
3  2020-12-15  37221.0          1.0       1.0  two-shot
4  2020-12-16  37215.0          1.0       1.0  two-shot

In [19]:
vax.shape

(6694, 5)

In [54]:
most_vax_given = vax.groupby('zipcode')['count_given'].sum()
print(most_vax)

zipcode
37013.0    27167.0
37027.0      506.0
37069.0       89.0
37072.0    13108.0
37076.0    16855.0
37080.0     3078.0
37115.0    12827.0
37138.0    10873.0
37189.0     1650.0
37201.0      756.0
37203.0    11678.0
37204.0     9723.0
37205.0    24451.0
37206.0    14310.0
37207.0    13888.0
37208.0     8262.0
37209.0    20553.0
37210.0     5493.0
37211.0    28477.0
37212.0    10877.0
37213.0      102.0
37214.0    13573.0
37215.0    19915.0
37216.0    10253.0
37217.0     8613.0
37218.0     6987.0
37219.0      891.0
37220.0     5190.0
37221.0    27622.0
37228.0     1040.0
37238.0        5.0
Name: count_given, dtype: float64

In [55]:
most_cases = zip.groupby('Zip')['Cases'].sum()
print(most_cases)

Zip
37013.0    13354
37027.0      231
37069.0       16
37072.0     2984
37076.0     4279
37080.0      574
37115.0     4574
37138.0     2359
37189.0      479
37201.0      299
37203.0     3346
37204.0     1786
37205.0     2566
37206.0     3112
37207.0     4729
37208.0     2428
37209.0     5072
37210.0     2100
37211.0    10233
37212.0     1823
37213.0       65
37214.0     3508
37215.0     2438
37216.0     2011
37217.0     3907
37218.0     1785
37219.0      270
37220.0      656
37221.0     3910
37228.0      310
37238.0        3
Name: Cases, dtype: int64