In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [59]:
COVID_zip = pd.read_csv('COVID_CountByZipPerDate 03292021.csv')

In [60]:
vax_protocol = pd.read_csv('vaccine_with_protocol.csv')

In [61]:
COVID_zip.head(10)

  Specimen Collection Date      Zip  Cases
0                 3/6/2020  37217.0      1
1                3/10/2020  37214.0      1
2                3/11/2020  37013.0      1
3                3/11/2020  37204.0      2
4                3/11/2020  37205.0      1
5                3/11/2020  37210.0      1
6                3/11/2020  37212.0      2
7                3/11/2020  37214.0      1
8                3/11/2020  37215.0      3
9                3/12/2020      NaN      1

In [62]:
vax_protocol.head()

    vacc_date  zipcode  count_given  dose_nbr  protocol
0  2020-12-12  37215.0          1.0       1.0  two-shot
1  2020-12-14  37205.0          1.0       2.0  two-shot
2  2020-12-14  37215.0          1.0       1.0  two-shot
3  2020-12-15  37221.0          1.0       1.0  two-shot
4  2020-12-16  37215.0          1.0       1.0  two-shot

In [63]:
COVID_zip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8832 entries, 0 to 8831
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Specimen Collection Date  8832 non-null   object
 1   Zip                       8456 non-null   float64
 2   Cases                     8832 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 207.1+ KB

In [64]:
vax_protocol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6694 entries, 0 to 6693
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   vacc_date    6694 non-null   object
 1   zipcode      6462 non-null   float64
 2   count_given  6686 non-null   float64
 3   dose_nbr     6686 non-null   float64
 4   protocol     6694 non-null   object
dtypes: float64(3), object(2)
memory usage: 261.6+ KB

In [65]:
COVID_zip.count()

Specimen Collection Date    8832
Zip                         8456
Cases                       8832
dtype: int64

In [72]:
vax_protocol.count()

vacc_date      6694
zipcode        6462
count_given    6686
dose_nbr       6686
protocol       6694
dtype: int64

In [83]:
pd.value_counts(COVID_zip['Cases'])

1      1453
2      1044
3       763
4       635
5       529
       ...
91        1
83        1
146       1
114       1
179       1
Name: Cases, Length: 131, dtype: int64

In [84]:
pd.value_counts(COVID_zip['Zip'])

37013.0    382
37211.0    379
37209.0    364
37217.0    362
37115.0    361
37207.0    361
37076.0    357
37214.0    355
37203.0    344
37221.0    342
37206.0    340
37072.0    338
37208.0    338
37210.0    336
37205.0    330
37138.0    323
37218.0    321
37216.0    318
37215.0    317
37212.0    313
37204.0    306
37220.0    214
37189.0    211
37080.0    192
37228.0    168
37201.0    153
37219.0    140
37027.0    132
37213.0     43
37069.0     13
37238.0      3
Name: Zip, dtype: int64

In [89]:
vax_protocol.groupby('zipcode')['count_given'].sum()

zipcode
37013.0    27167.0
37027.0      506.0
37069.0       89.0
37072.0    13108.0
37076.0    16855.0
37080.0     3078.0
37115.0    12827.0
37138.0    10873.0
37189.0     1650.0
37201.0      756.0
37203.0    11678.0
37204.0     9723.0
37205.0    24451.0
37206.0    14310.0
37207.0    13888.0
37208.0     8262.0
37209.0    20553.0
37210.0     5493.0
37211.0    28477.0
37212.0    10877.0
37213.0      102.0
37214.0    13573.0
37215.0    19915.0
37216.0    10253.0
37217.0     8613.0
37218.0     6987.0
37219.0      891.0
37220.0     5190.0
37221.0    27622.0
37228.0     1040.0
37238.0        5.0
Name: count_given, dtype: float64

NameError: name 'stack_hist' is not defined